pytest
pytest-html
requests
jsonschema
SQLAlchemy
asyncpg
aiomysql
pydantic
boto3
botocore
importlib-metadata
importlib-resources
python-dateutil
docker
urllib3
setuptools
wheel
psycopg2-binary
rapidfuzz
langchain
